{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the Onlien Games store where you can buy awesome Games.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Perfect Games Store
    {% else %}
        See Our Games Collection - Perfect Games Store
    {% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if category %}
    <div>
        <div>
            <p><a href="{% url 'shop:all_products' %}">Our Games Collection</a> | {{category.name}}</p>
        </div>
    </div>
    {% endif %}
    <div>
        {% if category %}
            <img src="{{category.image.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </div>
    {% else %}
    <img src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
    </div>
    <br>
    <div>
        <h1>Our Games Collection</h1>
        <p>Finding the perfect Game for a perfect time.</p>
    </div>
    {% endif %}
    <div>
        <div>
            {% for product in prods %}
            <div>
                <div>
                    <a class="img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div>
                        <h4>{{product.name}}</h4>
                        <p>€{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}